{% extends "main/base.html" %}

{% load static %}

{% block content %}
	  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script><div style="margin-left: -150px" id="coinmarketcap-widget-marquee" coins="1,1027,825,2777,5426,5994,12973,11206,14911,14586,12180" currency="USD" theme="dark" transparent="true" show-symbol-logo="true"></div>
	</nav>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="box bg-gradient-primary overflow-hidden pull-up">
						<div class="box-body pr-0 pl-lg-50 pl-15 py-0">							
							<div class="row align-items-center">
								<div class="col-12 col-lg-8">
									<h1 class="font-size-40 text-white">Welcome Onboard!</h1>
									<p class="text-white mb-0 font-size-20">
										View price charts for any token in the Iotx Chain
									</p>
								</div>
								<div class="col-12 col-lg-4"><img src="{% static 'images/svg-icon/color-svg/custom-15.svg' %}" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="box">
					
					<!-- /.box-header -->
					<div class="box-body">				  
						<div class="owl-carousel owl-theme">
							{% for rs in banner %}
							{% if rs.status == False %}

       				 {% else %}
							<a href="{{ rs.link }}" target="_blank">	
							<div class="box mb-0">
								<img class="card-img-top img-responsive" src="{{ rs.image.url }}" alt="Card image cap">
								<p><p class="mb-0 font-size-18">{{ rs.title }}</p></p>
							</div>
						</a>
						{% endif %}
							{% endfor %}
						
							

						</div>
					</div>
					<!-- /.box-body -->
				  </div>  
			</div>  	

			<div class="row">
				<div class="col-12">														
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							
							
						</div>
					</div>
				</div>
        
        
			<div class="row">
				<div class="col-xl-3 col-12">
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Recent Adverts</h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="#">View All</a>
							</div>
						</div>
					</div>
					<div>
            {% for rs in side_banner %}
						<div class="box bt-5 border-danger rounded pull-up">
							<div class="box-body">	
								<div class="flex-grow-1">	
									<div class="d-flex align-items-center pr-2 justify-content-between">							
										<img src="{{ rs.image.url }}">
										<div class="dropdown">
											
											</div>
										</div>						
									</div>
									<p class="font-size-16">
										{{ rs.title }}
									</p>
								</div>							
										
						</div>
            {% endfor %}
						
					</div>
				</div>
				<div class="col-xl-6 col-12">
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Iotexchart</h4>		
						</div>

					</div>
					<div>
						
				 <ul> 
				<li class="btn-group d-lg-inline-flex d-none" style="border: none;">
					<div class="app-menu">
						<div class="search-bx mx-5">
							<form>
								<div class="input-group">
								  <input type="search" class="form-control" placeholder="enter address or name" aria-label="Search" aria-describedby="button-addon2">
								  <div class="input-group-append">
									<button style="background-color:#0c1A32" class="btn" type="submit" id="button-addon3"><i style="color: #fff;" class="ti-search"></i></button>
								  </div>
								</div>
							</form>
						</div>
					</div>
				</li>
			</ul>

			

						<div class="box mb-15 pull-up">
							<div class="box-body">
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">

										
										                    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>Iotex chart <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/2777.png"></title>

    <link href="../../assets/styles.css" rel="stylesheet" />

    <style>
      
      #chart {
       width: 580px;
      max-width: 650px;
      margin: 35px auto;
      background-color: #0c0c0c;
    }

    @media screen and (max-width: 480px) {
  #chart {
    background-color: #0c0c0c;
    width: 350px;
  }
}
      
    </style>

    <script>
      window.Promise ||
        document.write(
          '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
        )
      window.Promise ||
        document.write(
          '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
        )
      window.Promise ||
        document.write(
          '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
        )
    </script>

    
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    

    <script>
      // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
      // Based on https://gist.github.com/blixt/f17b47c62508be59987b
      var _seed = 42;
      Math.random = function() {
        _seed = _seed * 16807 % 2147483647;
        return (_seed - 1) / 2147483646;
      };
    </script>

    <script src="../../assets/ohlc.js"></script>
  </head>

  <body>
     <div id="chart" ></div>

    <script>



        var options = {
          series: [{
          data: [

          
          {% for item in data1 %}

            {
              x: new Date({{ item.0 }}),
              y: [{{ item.1 }}, {{ item.2 }}, {{ item.3 }}, {{ item.4 }}]
            },
            
          {% endfor %}

            



           ]
        }],
          chart: {
          type: 'candlestick',
          height: 350
        },
        title: {
          text: 'IotexChart',
          align: 'left'
        },
        xaxis: {
          type: 'datetime'
        },
        yaxis: {
          tooltip: {
            enabled: true
          }
        }
        };


        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
        
        
      
    </script>

    
  </body>
</html>

									
								</div>
							</div>
						</div>
						
												
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-12">
					<div class="box no-shadow mb-0 bg-transparent">
						<div class="box-header no-border px-0">
							<h4 class="box-title">Recent Adverts</h4>							
							<div class="box-controls pull-right d-md-flex d-none">
							  <a href="#">View All</a>
							</div>
						</div>
					</div>
					<div>
            {% for rs in aside_banner %}
						<div class="box bt-5 border-danger rounded pull-up">
							<div class="box-body">	
								<div class="flex-grow-1">	
									<div class="d-flex align-items-center pr-2 justify-content-between">							
										<img src="{{ rs.image.url }}">
										<div class="dropdown">
											
											</div>
										</div>						
									</div>
									<p class="font-size-16">
										{{ rs.title }}
									</p>
								</div>							
										
						</div>
            {% endfor %}
						
					</div>
				</div>
				
			
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xl-4 col-lg-6 col-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title">Vetted Token</h4>
							
						</div>
						<div class="box-body">
							<div class="mb-25 pb-25 bb-1">
								<style type="text/css">
    .list li {
  cursor: pointer;
}
.list li:hover:after,
.list li.fav:after {
  content: ' \2605';
  color: rgb(255, 203, 0);
}
.list li.fav:hover:after {
  content: ' \2606';
}
  </style>
	<ul class="list ">    
  
  <li id="Iotex">Iotex</li>
  <li id="donuts">Zoom</li>
  <li id="cupcakes">IotexShiba</li>
  <li id="icecream">Vitality</li>
  <li id="cookies">Cookies</li>
  <li id="chocolate">Chocolate</li>
</ul>
<script type="text/javascript">
  // get favorites from local storage or empty array
var favorites = JSON.parse(localStorage.getItem('favorites')) || [];
// add class 'fav' to each favorite
favorites.forEach(function(favorite) {
  document.getElementById(favorite).className = 'fav';
});
// register click event listener
document.querySelector('.list').addEventListener('click', function(e) {
  var id = e.target.id,
      item = e.target,
      index = favorites.indexOf(id);
  // return if target doesn't have an id (shouldn't happen)
  if (!id) return;
  // item is not favorite
  if (index == -1) {
    favorites.push(id);
    item.className = 'fav';
  // item is already favorite
  } else {
    favorites.splice(index, 1);
    item.className = '';
  }
  // store array in local storage
  localStorage.setItem('favorites', JSON.stringify(favorites));
});

// local storage stores strings so we use JSON to stringify for storage and parse to get out of storage
</script>
</div>
							
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-6 col-12">
					<div class="box">
						<div class="box-header">
							<h4 class="box-title">Time Spent on Learning</h4>
							
						</div>
						<div class="box-body" style="height: 400px">
							<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
  {
  "width": "100%",
  "height": "100%",
  "defaultColumn": "overview",
  "screener_type": "crypto_mkt",
  "displayCurrency": "USD",
  "colorTheme": "dark",
  "locale": "en",
  "isTransparent": true
}
  </script>


	
	<!-- Page Content overlay -->
</div>
						</div>
					</div>
				</div>
				
				</div>
			</section>

			
{% endblock %}
